[tool.poetry]
name = "exasol-transformers-extension"
version = "2.0.0"
description = "An Exasol extension for using state-of-the-art pretrained machine learning models via the Hugging Face Transformers API."

authors = [
    	"Umit Buyuksahin <umit.buyuksahin@exasol.com>",
    	"Torsten Kilias <torsten.kilias@exasol.com>"
]

readme = 'README.md'

repository = "https://github.com/exasol/transformers-extension"
homepage = "https://github.com/exasol/transformers-extension"

keywords = ['exasol']

[tool.poetry.dependencies]
python = "^3.10.0"
pandas = ">=1.4.2,<2.0.0"
torch = "^2.0.1"
transformers = {extras = ["torch"], version = "^4.36.2"}
Jinja2 = "^3.0.3"
importlib-resources = "^5.4.0"
click = "^8.0.4"
pyexasol = "^0.25.0"
exasol-bucketfs = ">=0.11.0,<1.0.0"
tenacity = "^8.2.2"
sacremoses = ">=0.0.53"
exasol-python-extension-common = ">=0.3.0"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
exasol-udf-mock-python = "^0.1.0"
exasol-script-languages-container-tool = "^0.18.2"
toml = "^0.10.2"

[tool.poetry.group.dev.dependencies]
nox = "^2023.4.22"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
