[tool.poetry]
name = "exasol-transformers-extension"
version = "0.8.0"
description = "An Exasol extension to use state-of-the-art pretrained machine learning models via the transformers api."

authors = [
    	"Umit Buyuksahin <umit.buyuksahin@exasol.com>",
    	"Torsten Kilias <torsten.kilias@exasol.com>"
]

readme = 'README.md'

repository = "https://github.com/exasol/transformers-extension"
homepage = "https://github.com/exasol/transformers-extension"

keywords = ['exasol']

[tool.poetry.dependencies]
python = "^3.8.0"
pandas = ">=1.4.2,<2.0.0"
torch = { version="2.0.1+cpu", source = "torch"} # we use cpu version until GPUs are supported from Exasol
transformers = {extras = ["torch"], version = "^4.36.2"}
Jinja2 = "^3.0.3"
importlib-resources = "^5.4.0"
click = "^8.0.4"
pyexasol = "^0.25.0"
exasol-bucketfs = "^0.6.0"
typeguard = "^2.11.1"
tenacity = "^8.2.2"


[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
exasol-udf-mock-python = "^0.1.0"
exasol-script-languages-container-tool = "^0.18.1"
toml = "^0.10.2"

[[tool.poetry.source]]
name = "torch"
url = "https://download.pytorch.org/whl/cpu"
secondary = true


[tool.poetry.group.dev.dependencies]
nox = "^2023.4.22"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
