name: test_pip_install

on: [ push ]

jobs:
  test_pip_install:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: '2.3.0'

      - name: Test pip install
        uses: ./.github/actions/test_pip_install