name: Without-DB Tests

on:
  workflow_call:
    secrets:
      DOCKER_USER:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:

  without-db-tests:
    environment:
      name: slow-test-env
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on:
      labels: int-linux-x64-2core-ubuntu24.04-1
    name: Without-DB Tests
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v1
        with:
          python-version: '${{ matrix.python_version }}'
          use-cache: 'false'

      - name: Run without_db_integration_tests
        run: poetry run -- nox -s without_db_integration_tests