name: Without-DB Tests

on:
  workflow_call:
    secrets:
      DOCKER_USER:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  build-matrix:
    name: Generate Build Matrix
    uses: ./.github/workflows/matrix-python.yml
    permissions:
      contents: read

  without-db-tests:
    environment:
      name: slow-test-env
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}
    runs-on:
      labels: int-linux-x64-2core-ubuntu24.04-1
    name: Without-DB Tests
    needs: [ build-matrix ]
    steps:
      - uses: actions/checkout@v5

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          large-packages: false
      - name: Free disk space by removing large directories
        run: |
          sudo rm -rf /usr/local/graalvm/
          sudo rm -rf /usr/local/.ghcup/
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/lib/node_modules
          sudo rm -rf /opt/ghc

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: "2.3.0"

      - name: Run without_db_integration_tests
        run: poetry run -- nox -s without_db_integration_tests